.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 15px 40px;

  background: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(12px);

  position: sticky;
  top: 0;
  z-index: 1000;

  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

/* LOGO */
.logo {
  font-size: 20px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

/* RIGHT SIDE */
.nav-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

/* ICON BUTTONS */
.nav-icon {
  background: transparent;
  border: none;
  font-size: 18px;
  cursor: pointer;
  color: #fff;
  transition: 0.2s;
}

.nav-icon:hover {
  transform: scale(1.2);
}

/* NORMAL BUTTON */
.nav-btn {
  padding: 6px 14px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 13px;
}

/* LOGIN */
.login {
  background: transparent;
  border: 1px solid #fff;
  color: #fff;
}

/* REGISTER */
.register {
  background: #fff;
  color: #333;
}

/* LOGOUT */
.logout {
  background: #ff4d6d;
  color: white;
}